/*MY CSS*/
.jumbotron{
	background-image: url("../img/mountain.png");
	box-shadow: 0 0 50px rgba(0,0,0,0.8);
	min-height: 600px;
	padding: 200px 0 100px;
	text-align: center;
	color: lightgrey;
}

.about-photo{
	background-image: url("../img/keyboard.png");
	box-shadow: 0 0 50px rgba(0,0,0,0.8);
	min-height: 600px;
	padding: no padding;
	text-align: center;
	color: lightgrey;
}

#projects {
	background-color: lightgrey;
	text-align: center;
	min-height: 400px;
}

/*
	background:linear-gradient(rgba(100,40,0,0), rgba(0,0,0, 0)),url(../img/keyboard.png) no-repeat center center;
	background-attachment: fixed;
	background-size: cover;
	width: 100%;
	color: lightgrey;
	margin: 0;	*/
