/*MY CSS*/

.jumbotron{
	background: url("../img/mountain.png") no-repeat center;
	min-height: 650px;
	padding: 200px 0 0 0;
	margin-bottom: 0;
	text-align: center;
	color: lightgrey;
	background-size: cover;
	background-attachment: fixed;
}

/*Nav Bar CSS*/
.navbar.navbar-default {
	padding-right:50px !important;
	padding: 10px 0;
	background: black;
	border: none;
	box-shadow: none;
}
.navbar.navbar-default .navbar-nav > li > a,
.navbar.navbar-default .navbar-brand {
	color: lightgrey;
}

@media(max-width: 992px){
	.about-photo .
}

/*About Photo*/
.container-fluid {
	padding-left: 0;
	padding-right: 0;
	border: 0;
}

/*the x-x-6 columns padding - attempting to flush - and it worked!*/
.about-padding {
	padding-left: 0;
	padding-right: 0;
}

.about-photo{
	background: url("../img/keyboard-g.png") no-repeat;
	padding-left: 0;
	padding-right: 0;
	min-height: 600px;
	text-align: center;
	color: lightgrey;
	background-size: cover;
	background-attachment: fixed;

}

.about-photo-text {
	padding: 20em 0 0 0;
	padding-left: 0;
	padding-right: 0;
	text-align: center;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border: 0;
}


/* EXPERIENCE SECTION */
.aligner{
	display: flex;
	align-items: center;
	justify-content: center;
}

.aligner-item {
	align-self: flex-start;
	max-width: 50%;
	padding: 7em 0em 0em 0em;
	text-align: center;
}

/* experience padding in columns to flush the picture */
.experience-row-padding {
	padding-bottom: 0;
}

.experience-padding {
	padding-left: 0;
	padding-right: 0;
}

.experience-photo {
	background: url("../img/ipad.png") no-repeat center;
	min-height: 850px;
	padding: 0;
	background-size: cover;
	background-attachment: fixed;

}

.experience-text {
	padding: 5em;
}

.experience-photo-text {
	padding-top: 22em;
	text-align: center;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	color: lightgrey;
}

.fa {
	font-size: 86px;
	color:grey;
}


#projects {
	background-color: lightgrey;
	text-align: center;
	min-height: 600px;
}

.project-img {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

/*CONNECT PHOTO*/
.connect-padding {
	padding-left: 0;
	padding-right: 0;
}

.connect-photo {
	background: url("../img/isotopes-filter.png") no-repeat;
	min-height: 600px;
	text-align: center;
	color: lightgrey;
	background-size: cover;
	background-attachment: scroll;
}

.connect-header {
	text-align: center;
	padding-top: 1em;
}

.connect-photo-text {
	padding-top: 20em;
	text-align: center;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	color: lightgrey;
}

.connect-form {
	padding-top: 3em;
}
/*for message or connect icon and i decided to name it email*/
.test {
	font-size: 18px;
	color: grey;
}

/*SOCIAL*/

/*@ media query tests*/

/*@media(max-width: 993px) {
#linkedin #github #facebook #twitter {
	font-size: 150px;
}}*/

.social-icons {
	padding: 1em;
}

.social-padding {
	padding-left: 0;
	padding-right: 0;
}

.social-photo {
	background: url("../img/soundboard.png") no-repeat;
	/*padding-left: 0;
	padding-right: 0;*/
	min-height: 600px;
	text-align: center;
	color: lightgrey;
	background-size: cover;
	background-attachment: fixed;
}

.social-photo-text {
	padding-top: 20em;
	text-align: center;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	color: lightgrey;
}
/*
	background:linear-gradient(rgba(100,40,0,0), rgba(0,0,0, 0)),url(../img/keyboard.png) no-repeat center center;
	background-attachment: fixed;
	background-size: cover;
	width: 100%;
	color: lightgrey;
	margin: 0;	*/
